// google font Josefine Sans
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

// colors
$desaturated-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);
$dark-grayish-red: hsl(0, 6%, 24%);
// Gradients
$main-gradient: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
$second-gradient: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
// break point
$breakpoint-tablet: 660px;
$breakpoint-moblie: 375px;

// global styles
* {
  box-sizing: border-box;
}

body {
  background-image: $main-gradient;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  color: $dark-grayish-red;
  margin: 0;
}

.container {
  display: flex;
  min-height: 100vh;

  .inner {
    max-width: 430px;
    margin: 0 auto;
    animation: fromTop 0.9s ease forwards;
  }

  .left {
    width: 60%;
    padding: 0 2rem;
    background: url("images/bg-pattern-desktop.svg") right/cover;

    .logo {
      margin: 4rem 0;
      width: 10rem;
    }

    .bg-mobile {
      display: none;
    }

    h1 {
      text-transform: uppercase;
      letter-spacing: 11px;
      font-size: 4.5rem;
      font-weight: 600;
      line-height: 1.1;
      margin: 5rem 0 1.5rem 0;

      span {
        color: $desaturated-red;
        font-weight: 200;
      }
    }

    p {
      line-height: 1.5;
      color: $desaturated-red;
      margin: 1.5rem 0;
    }
  }

  .right {
    width: 40%;
    background: url("images/hero-desktop.jpg") no-repeat center/ cover;
  }

  form {
    position: relative;
    margin: 2rem 0rem;
    padding-bottom: 1rem;

    input {
      height: 3.6rem;
      width: 100%;
      background-color: transparent;
      border: 1px solid rgba($desaturated-red, 0.5);
      border-radius: 3rem;
      outline: none;
      padding: 1rem 2rem;
      transition: 0.2s ease-in all;

      &::placeholder {
        font-size: 1.1rem;
        color: $desaturated-red;
        font-family: "Josefin Sans", sans-serif;
        opacity: 0.7;
      }

      &:focus {
        border-width: 2px;
        box-shadow: 0 0 15px rgba($desaturated-red, 0.3);
      }
    }

    button {
      height: 3.6rem;
      width: 6.8rem;
      background: $second-gradient;
      padding: 1rem;
      border: none;
      border-radius: 3rem;
      outline: none;
      box-shadow: 2px 2px 15px rgba($desaturated-red, 0.6);
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      transition: 0.2s ease-out all;
      z-index: 10;

      &:hover {
        opacity: 0.7;
      }

      &:active {
        box-shadow: 2px 2px 8px rgba($desaturated-red, 0.8);
        transform: translateY(1px);
      }
    }

    .error-icon {
      position: absolute;
      top: 1rem;
      right: 8rem;
      display: none;
    }

    &.error .error-icon {
      display: block;
    }

    &.error input {
      border: 1px solid rgba($soft-red, 0.8);
    }

    small {
      display: block;
      color: $soft-red;
      padding: 0 2rem;
      margin-top: 1rem;
      display: none;
    }

    &.error small {
      display: block;
    }
  }
}

@keyframes fromTop {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .container {
    .left {
      width: 100%;

      .inner {
        height: 100%;
        max-width: 600px;
        margin: 0 auto;
      }

      .bg-mobile {
        display: block;
        width: calc(100% + 60px);
        margin: 0 -30px;
      }

      form {
        input {
          font-size: 0.7rem;
          fontsier &::placeholder {
            font-size: 0.8rem;
          }

          &::placeholder {
            font-size: 0.9rem;
          }
        }
      }

      h1 {
        font-size: 4rem;
      }

      form,
      p {
        max-width: 75%;
        margin: 2rem auto;
      }

      p {
        max-width: 350px;
      }

      h1,
      p {
        text-align: center;
      }
    }
    .right {
      display: none;
    }
  }
}

@media screen and (max-width: $breakpoint-moblie) {
  .container {
    .left {
      width: 100%;

      .inner {
        height: 100%;
        max-width: 600px;
        margin: 0 auto;
      }

      .bg-mobile {
        display: block;
        width: calc(100% + 60px);
        margin: 0 -30px;
      }

      form {
        input {
          font-size: 0.7rem;
          fontsier &::placeholder {
            font-size: 0.8rem;
          }
        }

        button {
          height: 3.6rem;
          width: 3.5rem;
        }
      }

      h1 {
        font-size: 2.8rem;
      }

      form,
      p {
        max-width: 90%;
        margin: 2rem auto;
      }

      h1,
      p {
        text-align: center;
      }
    }
    .right {
      display: none;
    }
  }
}
